<html>
    <body>
        <form action = "http://localhost:5000/next/" method = "POST/GET">
        {% print("Access Token : "+access_token)%}
        {% print("Refresh Token : "+refresh_token)%}
        {% print("Host : "+host)%}
        <input type="hidden" name='access_token' value={{access_token}}>
        <input type="submit" value='submit'>
    </form>
    </body>
</html>