<html>
    <body>
        
       <form action = "http://localhost:5000/result" method = "POST" >
        <input type="hidden" name = "ws" value = {{ ws }}>
        <input type="hidden" name = "cam" value = {{ cam }}>
        <input type="hidden" name = "access_token" value = {{ access_token }}>
        <input type="hidden" name = "params" value = {{ params }}>
        {% for key, value in devices.items() %}
          <input type="radio" name="device" value="{{ key }}">{{ value }}<br>
        {% endfor %}
          <input type = "submit"  value = "submit" onclick = "my_function()"  />
          
       </form>
         
         
       
    </body>
</html>